body {
  background-color: #444;
  background-image: url("../images/bg/paper_texture_2_1.jpg");
  background-size: 100%;
  /*background-size: contain;*/
  font-family: 'EB Garamond', serif;
  font-weight: 400;
}

.container {
  /*width: 100%;*/
  /*padding: 0;*/
}

.page {
  height: 100vh;
  padding: 2vh 2vw;
}

.page-separator {
  padding: 30px 0;
  line-height: 30px;
}

.page-content {
  margin-top: 10%;
}

.topbar {
  position: fixed;
  left: 0;
  width: 100%;
  padding-top: 2vh;
  z-index: 999;
}

.cover {
  padding-top: 15vh;
}

.cover .book-title {
  margin-top: 5%;
  font-weight: 800;
}

.cover .kolumnen {
  margin-top: 20%;
}

.cover .kolumnen span {
  padding: 5px 10px;
  border:  1px solid #000000;
  border-radius: 3px;
}

.index a:hover, .index a:link, .index a:active, .index a:visited{
  color: #333;
}

.page-title {
  margin-top: 50px;
}

.index ul {
  /*width: 60%;*/
  margin-top: 20%;
  margin-left: auto;
  margin-right: auto; 

}

.add-dots {
  overflow:hidden;
  white-space:pre;
  
}

.add-dots:after {
  margin-left: 5px;
  content: '.   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   ';
}

.cover-image {
  max-width: 100%;
}

/* Icons */

.topbar-icon {
  margin: 0 5px;
}

.topbar-icon:active {
  color: #444;
}

.fa-amazon:hover {
  color: #F55A33;
}

.fa-facebook-square:hover {
  color: #48649F;
}

.fa-twitter:hover {
  color: #55ACEE;
}

.plain-link, .plain-link:visited, .plain-link:hover, .plain-link:active {
  color: #000;
  text-decoration: none;
}

.fb-buttons-container {
  padding-left: 30px;
  line-height: 30px;
}

/* Media queries */


/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

@media (max-width: 767px) { 

  .page-content {
    font-size: 15px;
  }

  .page-number, .page-separator {
    font-size: 20px;  /* was 30px */
  }

  .cover .author-name, .cover .book-subtitle, .cover .kolumnen, .topbar, .page-title {
    font-size: 25px; /* was 30px */
  }

  .index {
    font-size: 20px;
  }


  .cover .book-title {
    font-size: 40px;
  }

}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 

  .page-content {
    font-size: 15px;
  }

  .page-number, .page-separator {
    font-size: 20px;  /* was 30px */
  }

  .cover .author-name, .cover .book-subtitle, .cover .kolumnen, .topbar, .page-title {
    font-size: 25px; /* was 30px */
  }

  .index {
    font-size: 20px;
  }
  .cover .book-title {
    font-size: 40px;
  }

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

  .page-content {
    font-size: 23px;
  }

  .page-number, .page-separator {
    font-size: 30px; 
  }

  .cover .author-name, .cover .book-subtitle, .cover .kolumnen, .topbar, .page-title, .index {
    font-size: 30px; /* was 30px */
  } 

  .cover .book-title {
    font-size: 50px;
  }

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

  .page-content {
    font-size: 23px;
  }

   .page-number, .page-separator {
    font-size: 30px; 
  } 

  .cover .author-name, .cover .book-subtitle, .cover .kolumnen, .topbar, .page-title , .index {
    font-size: 30px;
  }

  .cover .book-title {
    font-size: 50px;
  }

}
